* {
    color: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(35, 35, 35); */
    /* background-image: linear-gradient(to bottom right, blue 1%, rgb(34, 34, 34)); */
    background-image: linear-gradient(-20deg, rgb(34, 34, 34) 80%, rgb(65, 0, 216));


}

/* .recomendations {  
    padding: 20px;
} */

.recomendations h3 {
    margin: 20px;
}

.recomendations-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.rec-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 45%;
    height: 50%;
    display: flex;
}

.rec-item button {
    width: 40px;
    height: 40px;
    background-image: url("https://picsum.photos/50");
}

.rec-item span {
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
}

main {
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 15%;
    /* float: down?; */
    position: fixed;
    bottom: 0;
}

.player {
    height: 55%;
    background-color: red;
    border: 20px;
    border-color: rgb(80, 80, 80);;
}

.navigation {
    height: 45%;
    background-color: rgb(132, 0, 255);
    text-align: center;
}

.navbt {
    display: inline;
}
